.admin-card {

  width: 100%;
  padding: 80px 0;
  background: #121212;
  color: white;
  text-align: center;

}

.admin-card h2 {

  color: #f5c542;
  margin-bottom: 30px;
  font-size: 32px;

}

.admin-form {

  width: 90%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.admin-form input,
.admin-form textarea {

  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;

}

.admin-form textarea {

  min-height: 120px;

}

.admin-form button {

  padding: 14px;
  background: #f5c542;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;

}

.admin-form button:hover {

  background: #e2b437;

}